

<div class="center">
<%= link_to "EXPLORE", gallery_url, class: "btn"%>
</div>

<style>

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.center a

{
 font-size: 40px;
 color: black;
 border: 5px solid black;
 border-radius: 10px;

}

.center a:hover

{
 
 
 background-color: rgba(255, 255, 255, 0.2);
}

</style>
